:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --gray: #999;
}

i {
    color: var(--blue);
    font-size: 20px !important;
    direction: ltr;
}

@media (min-width: 900px) {
    i {
        color: var(--blue);
        font-size: 30px !important;
    }
}

p {
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
}


.logo-img {
    width: 50px !important;
}

/* width of filtaring */

.w-me{
    width: 100%;
}

@media (min-width: 1100px) {
    .w-me{
        width: 75%;
    }
}

#englesh-btn ,#arabec-btn{
    cursor: pointer;
}



